<naviga></naviga>
  
<div class="container">
  <section class="comment-list">
      <div class="container-article">
        <article class='row'>
          <comment onecomment='vm.comment' onclickf='vm.editComm(vm.comment._id, vm.comment)'></comment>
          
        </article>
        </div>

  </section>
  
  <footos></footos>
  <link rel="stylesheet" type="text/css" href="/stylesheets/comments.css">
</div>