<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="#">ComMENT TO BE</a></div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/comments">ComMENT</a></li>
            </ul>
        </div>
</nav>